<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kararan Security</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="layoutNav">
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="Kararan Security Logo">
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Our Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>

    <div class="container">
        <%- body %>
    </div>

    <footer>
        <!-- get current year -->
        <p>&copy; <%= new Date().getFullYear() %> Kararan Security</p>
    </footer>
</body>

</html>