<%- include('layouts/header'); -%>

<h1>Contact Us</h1>
<form>
    <input type="email" placeholder="Enter your email">
    <textarea placeholder="Your message"></textarea>
    <button>Send</button>
</form>