<section>
    <div class="contact">
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt animi earum in obcaecati velit dolorum
            reiciendis quam amet, molestias corporis assumenda dolores voluptatibus natus molestiae! Officia odit
            maiores porro fuga?</p>
        <form action="/contact" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <textarea name="message" placeholder="Message"></textarea>
            <button type="submit" class="btn">Send</button>
        </form>
    </div>
</section>