<section class="home">
    <!-- Create a Hero Section -->
     <div class="">
        <h1>Kararan Security</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt animi earum in obcaecati velit dolorum reiciendis quam amet, molestias corporis assumenda dolores voluptatibus natus molestiae! Officia odit maiores porro fuga?</p>
        <a href="/contact" class="btn">Contact Us</a>
        <div class="">
            <!-- grid of 4 columns that will contain pictures -->
            <div class="heroImages">
                <img src="/images/guard.png" alt="Guard">
                <img src="/images/van.jpg" alt="LVan">
                <img src="/images/fence.webp" alt="Fence">
                <img src="/images/dog.jpg" alt="Dog">
        </div>
     </div>
</section>