<section class="servicesSection">
    <div class="services">
        <h1>Our Services</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt animi earum in obcaecati velit dolorum
            reiciendis quam amet, molestias corporis assumenda dolores voluptatibus natus molestiae! Officia odit
            maiores porro fuga?</p>
        <div class="service">
            <img src="/images/guard.png" alt="Guard">
            <div class="service-info">
                <h2>Guard Services</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt animi earum in obcaecati velit
                    dolorum reiciendis quam amet, molestias corporis assumenda dolores voluptatibus natus molestiae!
                    Officia odit maiores porro fuga?</p>
            </div>
        </div>
        <div class="service">
            <img src="/images/van.jpg" alt="Van">
            <div class="service-info">
                <h2>Van Services</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt animi earum in obcaecati velit dolorum
                reiciendis quam amet, molestias corporis assumenda dolores voluptatibus natus molestiae! Officia odit
                maiores porro fuga?</p>
            </div>
        </div>
        <div class="service">
            <img src="/images/fence.webp" alt="Fence">
            <div class="service-info">
                <h2>Fence Services</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt animi earum in obcaecati velit dolorum
                reiciendis quam amet, molestias corporis assumenda dolores voluptatibus natus molestiae! Officia odit
                maiores porro fuga?</p>
            </div>
        </div>
        <div class="service">
            <img src="/images/dog.jpg" alt="Dog">
            <div class="service-info">
                <h2>Dog Services</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt animi earum in obcaecati velit dolorum
                reiciendis quam amet, molestias corporis assumenda dolores voluptatibus natus molestiae! Officia odit
                maiores porro fuga?</p>
            </div>
        </div>
    </div>
</section>